@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: 'sf_atarian_systemregular';
      src: url('fonts/sf_atarian_system-webfont.woff2') format('woff2'),
        url('fonts/sf_atarian_system-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
      font-family: sf_atarian_systemregular, Helvetica, sans-serif;
      font-size: 2em;
  }
}